@model MVC_SQL.Models.GetVehicleModelBinder

@Html.Label(Model.CompanyTickerTag)

@using (Html.BeginForm("AddVehicle", "Portfolio"))
{
    <Legend>
        <div>
            <label for="CompanyTickerTag">CompanyTickerTag</label>
            <input type="text" class="form-control" name="CompanyTickerTag">
            <button type="submit">Submit</button>
        </div>
    </Legend>
}
