@{
    ViewData["Title"] = "GrowPortfolio";
}

    <form method="post">
        <fieldset>
            <Legend>
                <div>
                    <label for="CompanyTickerTag">Company Ticker Tag</label>
                    <input type="text" name="CompanyTickerTag" value="" />
                    @{    
                        if (IsPost)
                        {
                            string companyTickerTag = Request.Form["companyname"];
                            MVC_SQL.Logic.ApiInterface.generateSearchUrl(companyTickerTag);
                        }
                    }
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </Legend>
        </fieldset>
    </form>