@page "{test}"
@model MVC_SQL.Models.GrowPortfolioModelBinder

@{
    ViewData["Title"] = "GrowPortfolio";
}

<form method="post">
    <fieldset>
        <Legend>
            <div>
                <h3>Test: @ViewData["test"]</h3>
                <label for="CompanyTickerTag">CompanyTickerTag</label>
                <input type="text" class="form-control" name="CompanyTickerTag">
                <button type="submit">Submit</button>
            </div>
        </Legend>
    <fieldset>
</form>