@model List<TestFinanceModel>

@{
    ViewData["Title"] = "MyPortfolio";
}

<h1>MyPortfolio</h1>

<div>
    @foreach (var curVehicle in Model)
    {
    <table>
        <tr>
            <td>
                MarketTicker
            </td>
            <td>
                <a href="@Url.Action("Vehicle", "Details", 5)" class="elements"><span>@curVehicle.MarketTicker</span></a>
            </td>
        </tr>
        <tr>
            <td>
                CurrentValue
            </td>
            <td>
                @curVehicle.CurrentValue.ToString()
            </td>
        </tr>
        <tr>
            <td>
                PercentageChange
            </td>
            <td>
                @curVehicle.PercentageChange.ToString()
            </td>
        </tr>
        <tr>
            <!-->Blank Row<-->
        </tr>
    </table>
    }
</div>