@model List<TestFinanceModel>

@{
    ViewData["Title"] = "MyPortfolio";
}

<h1>MyPortfolio</h1>

<div>
    @foreach (var curVehicle in Model)
    {
        <table>
            <tr>
                <td>
                    MarketTicker
                </td>
                <td>
                    @Html.Display(curVehicle.MarketTicker)
                </td>
            </tr>
            <tr>
                <td>
                    CurrentValue
                </td>
                <td>
                    @Html.Display(curVehicle.CurrentValue.ToString())
                </td>
            </tr>
            <tr>
                <td>
                    PercentageChange
                </td>
                <td>
                    @Html.Display(curVehicle.PercentageChange.ToString())
                </td>
            </tr>
        </table>
    }
</div>