<?xml version="1.0"?>
<configuration>
    <connectionStrings>
    <add
        name="FinanceDbContext" 
        connectionString="Data Source=CARLHAFFAR\SQLEXPRESS;Initial Catalog=FinanceDB;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
